# ===== GENERAL =====
.DS_Store
Thumbs.db
*.log

# ===== NODE (Firebase Functions) =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== ENV =====
.env
.env.*

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== OS =====
*.swp
*.swo