# ===== GENERAL =====
.DS_Store
Thumbs.db
*.log

# ===== NODE (Firebase Functions) =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== ENV =====
.env
.env.*

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== OS =====
*.swp
*.swo

PROJECT_CONTEXT.md
compile_commands.json
codecu.md
COMPARISON_CODE_OLD_NEW.md
local.properties
android-app/app/google-services.json
android-app/local.properties